@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Public Sans", sans-serif;
  background-image: url("assets/images/bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

body {
  background-color: rgba(35, 118, 255, 0.9);
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  overflow: hidden;
  overflow-y: scroll; /* Enables scrolling in the main section */
  -ms-overflow-style: none; /* Hides scrollbar in Internet Explorer and Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, and Opera */
}

.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;

}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 50px;
}

.logo {
  height: 36px;
  width: 202px;
}

.card-container {
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  overflow: hidden;
  width: 890px;
  padding: 0 16px;
  margin: 0 auto;
}

.card-40 {
  width: 390px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px 24px;
}

.card-60 {
  width: 500px;
  background-color: #ffffff;
  padding: 40px 40px 120px 40px;
}

.content-container {
  /* display: flex;
  flex-direction: column; */
  /* gap: 40px; */
}

.section1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.consult {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.consult-text {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #333333;
}

#consult-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.custom-hr {
  border: none;
  background-color: #2376ff;
  height: 4px;
  width: 68px;
  border-radius: 3px;
}

.subtext {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.15px;
  color: #333333;
}

.section2 {
  gap: 10px;
}

.additional-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.15px;
  color: #272727;
}

.ratings {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.r-sec-1 {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ratings-star {
  display: flex;
}

.ratings-star i {
  font-size: 16px;
  color: #fabb18;
}

.logo-images {
  display: flex;
  gap: 30px;
}

.question {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.question label {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.15px;
  color: #333333;
  margin-bottom: 8px;
}

select {
  font-size: 16px;
  padding: 12px 16px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.full-width-input:focus {
  outline: none; /* Removes default outline on focus */
  border-color: #006fbb; /* Changes border color on focus */
}

.full-width-textarea:focus {
  outline: none; /* Removes default outline on focus */
  border-color: #006fbb; /* Changes border color on focus */
}

select:focus {
  border-color: #006fbb; /* Changes border color on focus for select element */
}

.form1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 24px;
}

.radio-group .yes,
.no {
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  padding: 12px 24px;
  width: 100%;
}

.radio-group span {
  font-size: 18px; /* Font size */
  color: #333333; /* Text color */
}

#next-button-component {
  width: 100%;
  background-color: #f3aa50;
  border: none;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  text-align: center;
}

.full-width-input {
  width: 100%;
  height: 48px; /* Adjust height slightly more than normal */
  border-radius: 5px;
  border: 2px solid #e1e1e1;
  padding: 12px 16px;
  font-size: 16px;
}

.full-width-input:focus {
  outline: none; /* Removes default outline on focus */
  border-color: #2376ff; /* Optional: changes border color on focus */
}

.textarea-container {
  width: 100%;
  max-width: 890px; /* Optional: limits the max width of the textarea container */
  padding: 0 16px; /* Adds some space on the left and right of the textarea */
}

.full-width-textarea {
  width: 100%;
  height: 173px; /* Adjust height as needed */
  border-radius: 5px;
  border: 2px solid #e1e1e1;
  padding: 12px 16px;
  font-size: 16px;
  resize: none; /* Optional: prevents resizing */
}

.full-width-textarea:focus {
  outline: none; /* Removes default outline on focus */
  border-color: #2376ff; /* Optional: changes border color on focus */
}

.input-group {
  display: flex;
  gap: 16px;
}

.next-step {
  background-color: #f3aa50;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
}

.title-text {
  font-weight: 700;
}

.policy-text {
  font-size: 12px;
  font-weight: 400;
  color: #8f8f8f;
}

/* Footer Styles */
footer {
  height: 133.81px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 20px;
}

.footerText {
  color: #8F8F8F;
  font-size: 12px;
  text-align: center; 
  font-weight: 400;
  padding: 0 20px;
}
.footerGroup{
  width: 90%;
}

.recaptchaGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: 100px; /* Adjusted width */
  height: 70px;
  border-radius: 3px;
  padding: 2px;
  box-shadow: -8px -1px 22px -11px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: -8px -1px 22px -11px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: -8px -1px 22px -11px rgba(0, 0, 0, 0.9);
  position: absolute; 
  right: 0;
  bottom: 20px;
}

/* Recaptcha Image */
.recaptcha {
  width: 50px;
  height: 50px;
}

/* Recaptcha Text */
.recaptchaText {
  font-size: 9px;
  color: #8f8f8f;
}

#section2-component2 {
  display: none;
}

@media only screen and (max-width: 767px) {
  .card-container {
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }
 

  #section1-component  {
    order: 1;
  }

  #section2-component {
    display: none;
  }

  #section2-component2 {
    display: block;
    order: 3;
  }
  .card-40{
    width: 100%;
  }
  .card-60 {
    width: 100%;
    order: 2;
  }

 

  .consult-text {
    font-size: 24px;
  }

  .subtext {
    font-size: 16px;
  }

  .full-width-textarea {
    height: 150px; 
  }
  #footer-container{
    padding: 0;
  }

  footer {
    font-size: 12px;
    padding-bottom: 0;
    height: 100%;
  }

  .footerText {
    font-size: 10px;
  }

  .footerGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .recaptchaGroup {
    width: 25%;
    position: -webkit-sticky; 
    position: sticky;
    bottom: 100px;
    right: 0;
    align-self: flex-end; 
    margin: 0;
  }

  .recaptcha {
    width: 50px;
    height: 40px;
  }

  .recaptchaText {
    font-size: 12px;
  }

  .next-step {
    font-size: 18px;
  }
}
